<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 pt-5">
            <div class="row">
                <div class="col-12 mb-5">
                    <div class="d-flex">
                        <div class="pt-lg-2 pt-1 px-lg-3 px-2">
                            <a href="#">
                                <!-- <img src="assets/img/back arrow.svg" alt=""> -->
                            </a>
                        </div>
                        <div>
                            <p class="ff-p fs-32 fw-6 get m-0">
                                Welcome
                            </p>
                            <small class="fs-14 fc-lb ff-p">
                                Please provide your details
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-12 px-lg-5 px-3">
                    <form #registerForm="ngForm" (ngSubmit)="onSubmit()" class="row px-lg-3" ngNativeValidate>
                        <div class="col-lg-12 mb-3">
                            <div class="floating-label">
                                <input class="floating-input" type="text" name="username" [(ngModel)]="user.username" placeholder=" ">
                                <label>Username</label>
                            </div>
                        </div>
                        <div class="col-lg-12 mb-3">
                            <div class="floating-label">
                                <input class="floating-input" type="email" name="email" [(ngModel)]="user.email" placeholder=" ">
                                <label>Email</label>
                            </div>
                        </div>
                        <div class="col-lg-12 mb-1">
                            <div class="floating-label">
                                <input class="floating-input" type="password" [(ngModel)]="user.password" name="password" placeholder=" ">
                                <label>Password</label>
                            </div>
                        </div>
                        <div class="col-lg-12 mb-1">
                            <div class="floating-label">
                                <input class="floating-input" type="password" [(ngModel)]="user.password_confirmation" name="password_confirmation" placeholder=" ">
                                <label>Confirm Password</label>
                            </div>
                        </div>
                        <div class="col-12 mb-5">
                            
                        </div>

                        <div class="col-6 mb-5">
                            <button routerLink="/login" routerLinkActive="active" class="btn btn-blue w-100">
                                CANCEL
                            </button>
                        </div>

                        <div class="col-6 mb-5">
                            <button [disabled]="!registerForm.form.valid" class="btn btn-blue w-100">
                                REGISTER
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-4 px-lg-0">
            <div class="move-container">
                <div class="d-flex justify-content-around">
                    <button class="btn btn-white px-5 mt-3">Register</button>
                </div>
                <div class="get-text px-5">
                    <p class="fc-w fs-32 px-3">
                        <b>
                            Move beyond training and design truly impactful blended learning solutions
                        </b>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>